// Styling for the login component. Refer to HTML to see where the classes are applied.

$dblue: rgb(33, 84, 179);
$lblue: rgb(70, 116, 175);
$gray: rgb(165, 165, 165);
$lgray: rgb(211, 211, 211);
$dgray: rgb(80, 80, 80);
$white: whitesmoke;

.card {
  background-color: #c7cace;
  width: 80%;
  align-self: center;
  border-radius: 10px;
  padding: 20px;
}

.login-header {
  background-color: #c7cace;
  padding-top: 10px;
  --box-shadow: 1px 2px rgba(0, 0, 0, 0.171);
}

.login-header-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
}

.login-item {
  --background: #c7cace;
  --color: rgb(0, 0, 0);
  text-indent: 5px;
  font-size: 0.9rem;
}

.login-fail {
  --background: rgb(151, 14, 14);
  --color: rgba(255, 255, 255, 0.815);
  text-indent: 5px;
  font-size: 0.9rem;
}

.icon {
  color: $dgray;
  margin-left: 8px;
}

.login-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  --background: #48628d;
  --color: rgba(255, 249, 227, 0.938);
  --background-hover: #4e82d4; //ios hovor color
  --border-radius: 8px;
  --box-shadow: 1px 2px rgba(0, 0, 0, 0.171);
  position: fixed;
  bottom: 12%;
}

.login-button:hover {
  --background: #4e82d4; //android hovor color
}
