<div class="root">
  <div class="header">
    <div class="container margin-top-5">
      <ion-card class="card">
        <ion-card-header class="login-header">
          <ion-card-title class="login-header-title">
            Login
          </ion-card-title>
        </ion-card-header>
        <ion-item lines="none" class="login-item">
          <ion-input placeholder="Username" class="input">
          </ion-input>
        </ion-item>
        <ion-item lines="none" class="login-item">
          <ion-input placeholder="Password" class="input">
          </ion-input>
        </ion-item>
      </ion-card>
    </div>
  </div>
</div>