<div class="ion-margin">
  <ion-card class="margin-top list-container">
    <ion-card-header class="box">
      <ion-card-title class="box-title">Where To?</ion-card-title>
      <ion-input class="input"></ion-input>
    </ion-card-header>
    <ion-item href="#" class="list">
      <ion-label>Test1 </ion-label>
    </ion-item>
    <ion-item href="#" class="list">
      <ion-label>Test2 </ion-label>
    </ion-item>
    <ion-item href="#" class="list">
      <ion-label>Test3 </ion-label>
    </ion-item>
  </ion-card>
<div class="container">
  <ion-button class="request-button">Request LIMO</ion-button>
</div>