<div class="root">
  <app-map class="map"></app-map>
  <div class="header">
    <div class="container">
      <ion-card class="margin-top-4 list-container">
        <ion-card-header class="box">
          <ion-card-title class="box-title">Where to?</ion-card-title>
          <ion-input [(ngModel)]="filter" class="input">
            <ion-icon class="search-icon" name="search-outline"></ion-icon>
          </ion-input>
        </ion-card-header>
        <ion-item routerLink="eta" lines="none" class="list" *ngFor="let loc of filteredLocations">
          <ion-label>{{ loc.name }}</ion-label>
        </ion-item>
      </ion-card>
    </div>
    <div class="container">
      <ion-button size="large" class="request-button">REQUEST LIMO</ion-button>
    </div>
  </div>
  <ion-footer class="footer">
    <app-toolbar></app-toolbar>
  </ion-footer>
</div>
