<div class="root">
  <app-map class="map"></app-map>
  <div class="header">
    <div class="container">
      <ion-card class="margin-top-4 list-container">
        <ion-card-header class="box">
          <ion-card-title class="box-title">Where to?</ion-card-title>
          <ion-input [(ngModel)]="filter" class="input">
            <ion-icon class="search-icon" name="search-outline"></ion-icon>
          </ion-input>
        </ion-card-header>
        <ion-item lines="none" class="list" (click)="onClick(loc)" [ngClass]="{'highlight' : selectedLocation === loc}" *ngFor="let loc of filteredLocations">
          <ion-label>{{ loc.name }}</ion-label>
        </ion-item>
      </ion-card>
    </div>
    <div class="container">
      <ion-button [disabled]="disabled" [routerLink]="['../eta']" size="large" class="request-button">REQUEST LIMO</ion-button>
    </div>
  </div>
</div>
