<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-no-padding ion-text-start">
      <ion-row class="ion-align-items-center">
        <ion-col size="4">
          <ion-button [hidden]="confirmed" fill="clear" (click)="back()">
            <ion-icon size="large" color="light" class="icon" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          Ride
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <ion-grid>
    <ion-row class="ion-justify-content-center" style="height: 0; z-index: 1;">
      <ion-card style="padding: 5px;">
        <ion-text>
          <h1>ETA: {{ eta }} minutes</h1>
        </ion-text>
      </ion-card>
    </ion-row>
    <ion-row style="height: 100%; margin-top: 25px;">
      <div #map id="map"></div>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border ion-padding-bottom ion-margin-bottom ">
  <ion-row class="ion-justify-content-center">
    <ion-button [hidden]="confirmed" color="primary" size="large" (click)="confirm()">CONFIRM RIDE</ion-button>
    <ion-button [hidden]="!confirmed" color="danger" size="large" (click)="cancel()">CANCEL RIDE</ion-button>
  </ion-row>
</ion-footer>
