<div class="root">
  <app-driver-map></app-driver-map>
  <div class="header">
    <div class="container">
      <ion-card class="margin-top-4 box-container">
        <ion-card-header class="box">
          <ion-card-subtitle class="box-title"> <strong>Now:</strong> Drop off Emily at The Commons</ion-card-subtitle>
          <ion-card-subtitle class="box-title"> <strong>Next:</strong> Pick up Jonah from Union Sports Annex
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="container">
      <ion-button size="large" class="confirm-button">Confirm Dropoff</ion-button>
    </div>
  </div>
</div>
