$gold : rgb(255, 223, 41);
$dblue: rgb(33, 84, 179);

// Map to be replaced by Google API.
.map {
    z-index: 1;
    position: absolute;
    top: 23%;
    height: 60%;
    object-fit: cover;
    border: 2px solid rgb(104, 104, 104);
}
