<ion-app class="background-color">
  <div>
    <img class="map" src="../assets/map.png" alt="Map">
  </div>
  <ion-header class="ion-no-border">
    <app-request></app-request>
  </ion-header>
  <ion-toolbar>
    <ion-buttons class="container">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="map-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-app>
