<ion-app class="background-color">
  <div>
    <img class="map" src="../assets/map.png" alt="Map">
  </div>
  <ion-header class="ion-no-border">
    <div class="ion-margin">
      <div class="box ion-align-self-center">
        <h1 class="header">Where To?</h1>
        <ion-input class="input"></ion-input>
      </div>
      <ion-list class="list-container">
        <ion-item class="list">
          <ion-label>Commons</ion-label>
        </ion-item>
        <ion-item class="list">
          <ion-label>Cilborn</ion-label>
        </ion-item>
        <ion-item class="list">
          <ion-label>Cafferys</ion-label>
        </ion-item>
        <ion-item class="list">
          <ion-label>Carpenter</ion-label>
        </ion-item>
        <ion-item lines="none" class="list">
          <ion-label>Cudahy</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="container">
      <ion-button class="request-button">Request LIMO</ion-button>
    </div>
  </ion-header>
</ion-app>
