// Styles for driver page

$ion-color-secondary: #989aa2;

.login-header {
  font-size: 2.3rem;
}

.login-input {
  --padding-bottom: 3px;
  --padding-top: 3px;
  border-bottom: 1px #d1d2d6 solid;
}

.fail-text {
  margin: 4px 2px 0px 2px;
  vertical-align: middle;
}

.fail-icon {
  vertical-align: middle;
  margin-left: 1px;
  font-size: 0.9rem;
}

.margin-top {
  margin-top: 20%;
}