.icon {
  margin-left: 8px;
  margin-right: 8px;
}

.login {
  border-radius: 10px;
  padding: 20px;
  padding-top: 5px;
  margin-top: 18px;
  max-width: 300px;
  width: 85%;
}

.login-header {
  padding-bottom: 5px;
}

.login-item {
  font-size: 0.9rem;
}

.fail {
  border-radius: 10px;
  font-size: 0.8rem;
  margin-bottom: 4px;
}

.fail-icon {
  margin-right: 8px;
}
