.img-frame {
    height: 30%;
    width: 50%;
}

.input {
    --padding-bottom: 3px;
    --padding-top: 5px;
    background-color: rgb(255, 253, 245);
    color: rgb(48, 48, 48);
    border-radius: 5px;
    border: 1px solid rgb(206, 206, 206);
    margin-top: 5px;
  }