<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-no-padding ion-text-start">
      <ion-row class="ion-align-items-center">
        <ion-col size="4">
          <ion-button fill="clear" (click)="openMenu()">
            <ion-icon size="large" color="light" class="icon" name="menu-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          Profile
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-card class="img-frame">
      <ion-card-content>
        <img src="/assets/map.png" alt="Profile image">
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-input [(ngModel)]="firstName" class="input" placeholder="First Name" autocapitalize="true">
  </ion-input>
  <ion-input [(ngModel)]="lastName" class="input" placeholder="Last Name" autocapitalize="true">
  </ion-input>
  <ion-row class="ion-justify-content-center ion-padding-top">
    <ion-button [disabled]="disabled" size="large" (click)="save()">Save Changes</ion-button>
  </ion-row>
</ion-content>
