<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-no-padding ion-text-start">
      <ion-row class="ion-align-items-center">
        <ion-col size="4">
          <ion-button fill="clear" (click)="openMenu()">
            <ion-icon size="large" color="light" class="icon" name="menu-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          Tasks
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row style="z-index: 1; height: 0;">
      <ion-card style="width: 100%;">
        <ion-item *ngFor="let request of requests">
          <ion-label style="font-size: 0.8rem;">Pickup {{ request.name }} at {{ request.pickup }}</ion-label>
        </ion-item>
      </ion-card>
    </ion-row>
    <ion-row style="height: 100%; margin-top: 200px; margin-bottom: 20px;">
      <div #map id="map"></div>
    </ion-row>
  </ion-grid>
</ion-content>
