<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-no-padding ion-text-start">
      <ion-row class="ion-align-items-center">
        <ion-col size="4">
          <ion-button fill="clear" (click)="openMenu()">
            <ion-icon size="large" color="light" class="icon" name="menu-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          Tasks
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  List driver tasks here
</ion-content>
