/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

$dblue: rgb(33, 84, 179);
$lblue: rgb(70, 116, 175);
$gray: rgb(165, 165, 165);
$lgray: rgb(211, 211, 211);
$white: whitesmoke;

html {
  font-family: 'Open Sans', sans-serif !important;
}

.root {
  background-color: #d9dce0 !important;
  position: absolute;
  height: 100%;
  width: 100%;
}

.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.margin-top-1 {
  margin-top: 10px;
}

.margin-top-2 {
  margin-top: 20px;
}

.margin-top-3 {
  margin-top: 30px;
}

.margin-top-4 {
  margin-top: 40px;
}

.margin-top-5 {
  margin-top: 50px;
}

.container {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map {
    position: fixed;
    top: 14%;
    height: 69%;
    object-fit: cover;
    border-radius: 6px;
}

.input {
  background-color: rgb(255, 253, 245);
  color: rgb(48, 48, 48);
  border-radius: 5px;
  border: 1px solid rgb(206, 206, 206);
  margin-top: 5px;
}

// Extra indent for ios
.input.ios {
    text-indent: 5%;
}

.debug {
  background-color: red !important;
}
