<div class="root">
  <app-map class="map"></app-map>
  <div class="header">
    <div class="container">
      <ion-card class="margin-top-4 list-container">
        <ion-card-header class="box">
          <ion-card-subtitle >Estimated time to arrival:</ion-card-subtitle>
          <ion-card-title class="box-title ion-text-center">5 minutes</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="container">
      <ion-button [routerLink]="['../loading']" size="large" class="cancel-button">CANCEL</ion-button>
    </div>
  </div>
  <ion-footer class="footer">
    <app-toolbar></app-toolbar>
  </ion-footer>
</div>
